.alt-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--horizontal-space);
  padding: 0px 20px 15px 5px;
  cursor: default;
}

.alt-header__title {
  font-size: 28px;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column i {
  margin-left: 15px;
}

.alt-header__column i:hover {
  color: var(--mint);
}

.alt-header__column .fa-search:hover {
  animation: enlargeFind 0.5s ease-in-out infinite;
}

.alt-header__column a,
span {
  color: white;
}
