.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0),
    30%,
    rgba(153, 255, 204, 1)
  );
  padding: 15px 30px;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: dodgerblue;
  position: relative;
}

.nav__notification {
  position: absolute;
  left: 18px;
  bottom: 18px;
}

.nav__update {
  background-color: violet;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
}
