.user-component {
  justify-content: space-between;
}

.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  padding-bottom: 0px;
}

.user-component__text {
  color: white;
  position: relative;
  cursor: pointer;
}

.user-component__profile {
  width: 70px;
  height: 70px;
  border-radius: 40%;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 179, 0.2);
}

@keyframes flipProfile {
  0% {
    transform: rotateZ(0);
  }
  100% {
    transform: rotateZ(180deg);
  }
}

.friends-screen .user-component__profile:hover {
  animation: flipProfile 1s linear infinite;
}

.user-component__name {
  font-size: 20px;
}

.user-component__name--regular {
  font-size: 18px;
}

.user-component__subtitle {
  margin-top: 12px;
  font-size: 12px;
  font-weight: lighter;
  opacity: 0.5;
}

.user-component__icon i {
  margin: 32px 0px 0px -20px;
  opacity: 0.5;
  cursor: help;
}

.user-component__profile--xl {
  width: 80px;
  height: 80px;
}

.user-component__profile--sm {
  width: 60px;
  height: 60px;
}

.user-component__column:last-child {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 179, 0.5);
  font-size: 12px;
}

.user-component__column:last-child span {
  margin: 0px 5px;
}

.user-component__column-music {
  display: flex;
  align-items: center;
  border: 1px solid var(--mint);
  border-radius: 15px;
  padding: 5px;
  font-size: 11px;
}

.user-component__column-music a {
  margin: 1px 5px;
  font-weight: lighter;
  text-decoration: none;
  color: var(--mint);
}

.user-component__column-music i {
  margin: 2px 4px;
  color: var(--mint);
}

.user-component__column-music:hover {
  background: linear-gradient(-60deg, #0000ff, #99ffcc);
}

.user-component__column--chat-alert {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chat-alert--time {
  font-size: 11px;
  opacity: 0.5;
  margin-bottom: 10px;
}
