.playlist {
  border-top: var(--main-border);
  padding: 20px 20px;
}

.playlist--top {
  display: flex;
  align-items: baseline;
  padding-bottom: 20px;
  border-bottom: var(--main-border);
}

.playlist--album {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-right: 280px;
  position: relative;
}

.playlist--detail {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 30px 0px 0px 180px;
  border: 1px solid red;
}

.playlist--detail span {
  display: flex;
  flex-direction: column;
  line-height: 28px;
}

.playlist--detail span:first-child {
  font-size: 20px;
  font-weight: 600;
  color: darkblue;
}

.playlist--detail span:nth-child(2) {
  font-size: 22px;
  color: blue;
}

.playlist--detail span:last-child {
  font-size: 13px;
  text-transform: uppercase;
  opacity: 0.5;
}

.playlist--btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  margin: 140px 0px 0px 200px;
  border: 1px solid orange;
}

.playlist--btn button {
  width: 100px;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 12px;
}

.playlist--btn button:first-child {
  margin-right: 20px;
}

.playlist--btn i {
  position: absolute;
  margin-left: 10px;
  color: blue;
}
