.playlist {
  border-top: var(--main-border);
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.playlist--album {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  margin-right: 200px;
}

.playlist--detail {
  display: flex;
}

.playlist--detail span {
  flex-direction: column;
  border: 1px solid red;
}
